{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h1>Create item for {{catalog.name}}</h1>
<form href="{{ url_for('create_catalog_item', catalog_id = catalog.id)}}" method = "POST">
  <div class="form-group">
    <label for="itemNameInput">Item Name</label>
    <input type="input" class="form-control" id="itemNameInput" name="name" aria-describedby="emailHelp" placeholder="Enter item Name">
  </div>
<div class="form-group">
    <label for="itemDescriptionInput">Item Description</label>
    <input type="input" class="form-control" id="itemDescriptionInput" aria-describedby="emailHelp" name="description" placeholder="Enter item description">
</div>
 <!--<div class="form-group">-->
    <!--<label for="selectCategory">Category</label>-->
    <!--<select class="form-control" id="selectCategory">-->
      <!--<option name="selection" value="Sports">Sports</option>-->
      <!--<option name="selection" value="Fashion">Fashion</option>-->
      <!--<option name="selection" value="Education">Education</option>-->
      <!--<option name="selection" value="Business">Business</option>-->
      <!--<option name="selection" value="Food">Food</option>-->
    <!--</select>-->
  <!--</div>-->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}