{% extends "main.html" %}
{% block content %}

<div class="row row-offcanvas row-offcanvas-right">
    <!--SIDEBAR-->
    {% include "sidebar.html" %}
    <div class="col-12 col-md-9">

        <!--JUMBOTRON-->
        <div class="jumbotron">
            <h1>{{catalog.name}}</h1>
            <p>{{catalog.description}}</p>
            <div class="row col-6">
                <a class="btn btn-outline-info col-6" style="" href="{{url_for('edit_catalog', catalog_id=catalog.id)}}" role="button">Edit »</a>
                <a class="btn btn-outline-info col-6" href="{{url_for('delete_catalog', catalog_id=catalog.id)}}" role="button">Delete »</a>
            </div>
        </div>
        <a href="{{url_for('create_catalog_item', catalog_id=catalog.id)}}">Create a new item</a>
        <!--ITEM_CONTAINER-->
        <div class="row">
            {% include "catalog_items.html" %}
        </div><!--/row-->
    </div><!--/span-->
</div><!--/row-->

<hr>

<footer>
    <p>© Company 2017</p>
</footer>


{% endblock %}

