{% extends "main.html" %}
{% block content %}
<h1>Create a new Catalog</h1>
<form href="{{ url_for('create_catalog')}}" method = "post">
  <div class="form-group">
    <label for="input_name">Catalog Name</label>
    <input type="input" class="form-control" id="input_name" name="name" aria-describedby="emailHelp" placeholder="Enter Catalog Name">
  </div>
  <div class="form-group">
    <label for="itemDescriptionInput">Catalog Description</label>
    <textarea rows="4" cols="50" type="input" class="form-control" id="itemDescriptionInput" aria-describedby="emailHelp" name="description" placeholder="Enter item description"></textarea>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}