{% for item in catalog_items_list %}
<div class="col-6 col-lg-4">
    <h2>{{item.name}}</h2>
    <p>{{item.description}}</p>
    <div class="row">
        <a class="btn btn-outline-info col-5" style=""  href="{{url_for('edit_catalog_item', catalog_id=catalog.id, item_id=item.id)}}" role="button">Edit »</a>
        <a class="btn btn-outline-info col-5"  href="{{url_for('delete_catalog_item', catalog_id=catalog.id,item_id=item.id)}}" role="button">Delete»</a>
    </div>
    <hr>
</div>
{% endfor %}