{% extends "main.html" %}
{% block content %}

<div class="row row-offcanvas row-offcanvas-right">
    <!--SIDEBAR-->
    {% include "public_sidebar.html" %}
    <div class="col-12 col-md-9">

        <!--JUMBOTRON-->
        <div class="jumbotron">

            <h1>{{catalog.name}}</h1>
            <p>{{catalog.description}}</p>

        </div>
        <!--ITEM_CONTAINER-->
        <div class="row">
            {% include "public_catalog_items.html" %}
        </div><!--/row-->
    </div><!--/span-->
</div><!--/row-->

<hr>

<footer>
    <p>© Company 2017</p>
</footer>


{% endblock %}

